body {
    font-family: "lumios-typewriter-new", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 56px;
    background-image: url('../assets/images/paper.jpeg');
    background-size: cover;
    background-position: center;
    z-index: 10;

    /* Add these three lines: */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex: 1;
}

footer {
    padding-bottom: 1rem;
}

.navbar {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #93A265;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white;
}

.nav-link:hover {
    color: #c7d799; /* swap in whatever color you want */
}

.navbar-brand:hover {
    color: #c7d799;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

footer a {
    text-decoration: none;
    color: #93A265;
}

footer a:hover {
    color: #c7d799;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    margin-top: auto;
}

.decoration {
    position: absolute;
    width: 15%; 
    pointer-events: none;
    z-index: -1;
}